// Specific CSS for your home-page
// .container {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.about {
  text-align: center;
  //margin-top: 50px;
  //margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: solid;
  width: 1140px;
  height: auto;
}

.container h1 {
  font-family: 'Ubuntu';
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.6)
}

.container p {
  font-family: 'Raleway', sans-serif;
  //font-size: 95%;
}

body {
  background-color: rgba(182, 235, 232, 0.5);
  color: rgba(0, 0, 0, 0.8)
}

.projects {
  //margin-left: -150px;
  //border-top: solid;
}

.projects h1 {
  // text-decoration: underline;
}
