<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1500927818026-d968e8ccdbf7?auto=format&fit=crop&w=934&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
  <div class="banner-content">
    <div class="logo">
      <%= cl_image_tag("h4ecdt354kacvpejkuha", :class => "logo") %>
    </div>
    <h1>Hi, I'm Jane Costa. <br>I'm a Web Developer and Language Enthusiast.</h1>
    <p></p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>
