<div class= "container">
  <div class="about">
    <h1>About me</h1>
    <div class="about-content">
      <p>
    I learned how to code partially on my own, and partially through a comprehensive program at  <a href="https://www.lewagon.com/montreal">Le Wagon Montreal</a>. This is a 9 week accelerated program that taught me the skills I need for fullstack web development using technologies such as Ruby on Rails, Javascript, HTML, and more. I am currently looking for employment in Montreal and accepting freelance work. Check out some of the projects I've coded at Le Wagon below. Outside of computer languages, I enjoy speaking and learning human languages such as Mandarin, Russian, French, and more. I also have a handsome husband and cat (of course). I'd love to get to know you over a cup of tea, so please don't hesitate to reach out.
      </p>
      <a id="emailMe" class="btn btn-info" href="mailto:yberdysh@gmail.com">E-mail Me</a>
    </div>
  </div>

  <div class="projects">
    <h1>Projects</h1>
      <%= render partial: 'projects/project', collection: @projects %>
       <!-- cl_image_tag("jfri5pmrekmipefwrjis", width: 400, height: 400, crop: :fill) -->
  </div>

</div>
