<div class= "container">
  <div class="about row">
    <h1>About me</h1>
    <div class="about-content">
      <p>
    I learned how to code partially on my own, and partially through a comprehensive program at  <a href="https://www.lewagon.com/montreal">Le Wagon Montreal</a>. This is a 9 week accelerated program that taught me the skills I need for fullstack web development using technologies such as Ruby on Rails, Javascript, HTML, and more. I am currently looking for employment in Montreal and accepting freelance work. Check out some of the projects I've coded at Le Wagon below. Outside of computer languages, I enjoy speaking and learning human languages such as Mandarin, Russian, French, and more. I also have a handsome husband, dog, and cat (of course). I'd love to get to know you over a cup of tea, so please don't hesitate to reach out.
      </p>
      <a id="emailMe" class="btn btn-info" href="mailto:jcosta.inbox@gmail.com">E-mail Me</a>
    </div>
  </div>
  <h1>Projects</h1>

  <div class="project globe row">
    <div class="one-project">
      <div class="col-xs-12 col-md-6">
        <a class="link-image" target="_blank" href="http://www.globe-getter.com">
          <div class="project-picture" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/daguvfl0l/image/upload/v1511917965/q3f9g09ujd0ndom10bmj.png');">
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="product-description globe">
          <h4> <a href="http://www.globe-getter.com" target="blank">GlobeGetter</a> </h4>
          <p>My team and I were given a challenge to create a web product in the last ten days of our
          program. GlobeGetter is a web platform for travel enthusiasts where users are able to set
          long-term travel goals in order to fulfill them over many years. A user can specify how
          many places they would like to visit, add desired travel destinations to their vision,
          mark off where they have been, see the progress of their goal, as well as see pertinent
          information about a specific place.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="project task row">
    <div class="col-xs-12 col-md-6">
      <div class="product-description task">
        <h4> <a href="https://alexolthofftaskit.herokuapp.com" target="blank">TaskIt!</a> </h4>
        <p>I worked in a team of three to take on the challenge of coding a marketplace website in only
        five days. With TaskIt, employers of
        startups can post their company's internship in order to hire someone
        on a short-term basis of just a few weeks. Students who crave experience in a new field
        can create a profile similar to LinkedIn, browse internships, and apply easily by sending
        their application straight to the employer's inbox.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <a class="link-image" target="_blank" href="https://alexolthofftaskit.herokuapp.com">
        <div class="project-picture" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/daguvfl0l/image/upload/v1511917967/aikvfbn5kpznkkwxzhdv.png');">
        </div>
      </a>
    </div>
  </div>

  <div class="project cocktail row">
    <div class="col-xs-12 col-md-6">
      <a class="link-image" target="_blank" href="https://mr-cocktail-yberdysh.herokuapp.com">
        <div class="project-picture" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/daguvfl0l/image/upload/v1511917554/aruezarknzsyalvu16hj.png');">
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="product-description cocktail">
        <h4> <a href="https://mr-cocktail-yberdysh.herokuapp.com" target="blank">Mr. Cocktail</a> </h4>
        <p>Mr. Cocktail is a web application that I created when I first started working with rails.
        This app provides an online platform for users to come together and share cocktail recipes.
        A user is able to browse and read different cocktail recipes, as well as upload their own!
        Everyone was very grateful for this app after a long week of coding.</p>
      </div>
    </div>
  </div>

  <div class="project vegan row">
    <div class="col-xs-12 col-md-6">
      <div class="product-description vegan">
        <h4> <a href="https://vegan-montreal.herokuapp.com" target="blank">Vegan Montreal</a> </h4>
        <p>This is one of the first full-functioning projects that I built and was able to deploy.
        When I moved to Montreal, I noticed that there were a lot of vegan restuarants, so I wanted
        to create a one-stop website that would show all of them with ratings. Vegan Montreal is
        similar to Yelp in that it is a community driven platform where users are able to rate
        and review vegan restaurants in Montreal.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <a class="link-image" target="_blank" href="https://vegan-montreal.herokuapp.com">
        <div class="project-picture" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/daguvfl0l/image/upload/v1511917976/ygaqhq7fqa9cp9tjjf9s.png');">
        </div>
      </a>
    </div>
  </div>

</div>
