<div class="project" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(<%= project.photo.url %>);">
    <div class="description-description">
      <h2><%= project.name %></h2>
    </div>
</div>
