<div class="project">
  <div class="project-picture" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(<%= project.photo.url %>);"></div>
  <div class="product-description">
    <h4><%= project.name %></h4>
    <%= simple_format(project.description) %>
  </div>
</div>
