.project {
 // display: flex;
  align-items: center;
  width: 100vw;
  min-height: 90vh;
  height: auto;
  //margin-bottom: 60px;
  //margin-left: -150px;
  margin: auto;
  padding: 50px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 100px;

 }

 // .one-project {
 //  display: flex;
 //  align-items: center;
 //  justify-content: center;
 // }

 .project.globe {
  background-color: #C3E7DA;
  text-align: center;
  width: 100vw;
 }

 .project.task {
  background-color: rgba(102, 146, 191, 0.7);
  text-align: center;
  width: 100vw;
 }

 .project.cocktail {
  background-color: rgba(233, 51, 121, 0.7);
  text-align: center;
  width: 100vw;
 }

 .project.vegan {
  background-color: #F1FFE8;
  text-align: center;
  width: 100vw;
 }

 .project h4 {
  font-family: 'Ubuntu';
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
 }

.project a {
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.77;
  text-decoration: none;
  padding: 0;
}


.project p {
  color: rgba(0, 0, 0, 0.7);
}

.project a:hover {
  opacity: 1;
}

div.project-picture:hover {
  opacity: 1;
}

.project-picture {
  min-height: 200px;
  height: 400px;
  min-width: 300px;
  width: auto;
  border-radius: 4px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  margin: 0;
  opacity: 0.75;
  z-index: 10;
 // padding-left: 50px;

}

.footer-copyright {
  opacity: 0.7;
}

.product-description {
  //margin-left: 40px;
  font-size: 90%;
  max-padding: 50px;
  width: auto;
  @media (min-width: 300px) {
    font-size: 90%;
  }
}
